[submodule ".zsh_custom/plugins/zsh-completions"]
	path = .zsh_custom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".zsh_custom/plugins/zsh-autosuggestions"]
	path = .zsh_custom/plugins/zsh-autosuggestions
	url = git@github.com:/zsh-users/zsh-autosuggestions.git
[submodule ".zsh_custom/plugins/zsh-syntax-highlighting"]
	path = .zsh_custom/plugins/zsh-syntax-highlighting
	url = git@github.com:/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh_custom/plugins/fzf-z"]
	path = .zsh_custom/plugins/fzf-z
	url = git@github.com:andrewferrier/fzf-z.git
[submodule ".zsh_custom/plugins/z"]
	path = .zsh_custom/plugins/z
	url = git@github.com:rupa/z.git
[submodule ".zsh_custom/themes/spaceship-prompt"]
	path = .zsh_custom/themes/spaceship-prompt
	url = git@github.com:/denysdovhan/spaceship-prompt.git
[submodule ".zsh_custom/plugins/zsh-nvm"]
	path = .zsh_custom/plugins/zsh-nvm
	url = git@github.com:/lukechilds/zsh-nvm
[submodule ".zsh_custom/plugins/evalcache"]
	path = .zsh_custom/plugins/evalcache
	url = https://github.com/mroth/evalcache
